// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$green: #3f6c39;
$blue: #459EE3;
$red: #dc3545;
$maroon: #a52a2a;
$dark:#272727;

:root {
    --theme-color: #3f6c39;
}