* {
    font-size: 16px;
}

main {
    min-height: 60vh;
}

img {
    max-width: 100%;
    height: auto;
}

.max-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 1px;
}

.green-text {
    color: var(--theme-color);
}

.light-bottom-border {
    border-bottom: 1px solid #ccc;
}

.light-top-border {
    border-top: 1px solid #ccc;
}

.bg-green {
    background-color: var(--theme-color);
}

.text-bold {
    font-weight: 700;
}

.title {
    font-size: 1.7em;
    color: var(--theme-color);
    font-weight: 700;
}

.sub-title {
    font-size: 1.3em;
    font-weight: 700;
}

.large-title {
    font-size: 3em;
    font-weight: 700;
}

.grey-filter {
    -webkit-filter: grayscale(70%) sepia(25%);
    filter: grayscale(70%) sepia(25%);
}

.cart {
    .cart-box {
        position: relative;

        .cart-count {
            position: absolute;
            top: -17px;
            right: 0;
            background: #fff;
            color: $green;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 1px solid;
            padding: 0px 6px;
        }
    }
}

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

.no-style {
    background: none;
    border: none;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.error-message {
    position: absolute;
    top: 10px;
    right: 10px;
    border-left: 5px solid;
    min-width: 500px;
}

a.btn,
button.btn,
label.btn {
    color: #fff;
    text-decoration: none;
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 0;
}

a.btn:hover,
button.btn:hover,
label.btn:hover {
    color: var(--theme-color);
    border: 1px solid;
    background-color: #fff;
}

a.btn-danger,
button.btn-danger {
    background-color: $red;
    border-radius: 0;
}

a.btn-danger:hover,
button.btn-danger:hover {
    color: $red;
}

.icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.card-img-top {
    height: 190px;
    width: auto;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.tiny-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.normal-shadow {
    box-shadow: 0px 5px 10px 5px rgba(146, 146, 146, 0.43);
    -webkit-box-shadow: 0px 5px 10px 5px rgba(146, 146, 146, 0.43);
}

.revert-shadow {
    box-shadow: 0px -5px 10px 5px rgba(146, 146, 146, 0.43);
    -webkit-box-shadow: 0px -5px 10px 5px rgba(146, 146, 146, 0.43);
}

.font-md {
    font-size: 1.2em;
}

#cart table.cart,
#addresses table,
#checkout table {

    td,
    th {
        border: 1px solid #eee;
    }
}

#category {
    img {
        background: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        padding: 15px;
        width: 100px;
        box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.30);
        -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.30);
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

#featured {
    .product-item:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        cursor: pointer;
    }

    .hanging-btn {
        position: absolute;
        top: calc(50% - 22px);
        right: calc(50% - 37px);
        display: none;
    }

    .product-item:hover .hanging-btn {
        display: block;
        z-index: 1;
    }

    .product-item:hover:after {
        opacity: 1;
    }

    #featured-slider {
        position: relative;

        .owl-prev {
            position: absolute;
            top: 34%;
            left: 0;
            background: none;
            border: none;

            span {
                font-size: 3em;
                background: #ccc;
                padding: 0px 8px 8px 8px;
            }
        }

        .owl-next {
            position: absolute;
            top: 34%;
            right: 0;
            background: none;
            border: none;

            span {
                font-size: 3em;
                background: #ccc;
                padding: 0px 8px 8px 8px;
            }
        }
    }
}

#product-gallery {
    .flex-direction-nav a {
        height: 50px;
    }

    .flex-viewport {
        background-color: #fff;
    }

    .flexslider {
        margin: 0 0 16px;

        ul.slides li {
            background-color: #fff;
            border: 1px solid #ccc;
            height: 100px;
        }
    }
}

#get_started {
    background-image: url('/images/get-started-bg.jpg');
    padding: 100px;
    background-position: top;
}

#products {
    .category-list {
        li {
            list-style-type: none;

            a {
                text-decoration: none;
                padding: 5px 20px;
                display: block;
                color: #000;
            }
        }
    }
}

#profile {
    .profile-menu ul li {
        list-style-type: none;

        a {
            text-decoration: none;
            padding: 5px 20px;
            display: block;
            border: 1px solid #666;
            color: #000;
        }

        a:hover {
            color: #fff;
            background-color: $green;
        }
    }
}

.left-part {
    border-right: 1px solid #ccc;
}

#detail {
    .product-title {
        border-bottom: 1px solid;
    }

    .detail-table {
        th {
            padding: 0 10px 0 0;
        }

        td {
            padding: 10px;
        }
    }

    select {
        padding: 9px 20px;
    }

    #reviews {
        .review-title {
            font-size: 1.2em;
            font-weight: 700;
        }

        .outer-box {
            border: 1px solid var(--theme-color);
            height: 20px;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            width: 90%;
            background-color: #eee;
        }

        .bar-5 {
            background-color: var(--theme-color);
            height: 20px;
        }
    }
}

#metaTable {
    width: 50%;
    margin: 0 auto;
}

.ellipsis-text {
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#header_nav ul,
#footer_nav ul {
    li {
        list-style-type: none;
        display: inline-block;
        margin: 20px;
        margin-bottom: 0;
        border-bottom: 2px solid transparent;

        a {
            padding: 4px;
            display: block;
            text-decoration: none;
            color: #000;
            font-size: 1.1em;
        }
    }

    li:hover,
    li.active {
        border-bottom: 2px solid #000;
    }
}

nav a.btn:hover,
button.btn:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background-color: #72986d;
    border-radius: 0;
}

.termslist {
    li {
        list-style-type: none;
    }
}

.contact-info {
    .icon-room:before {
        content: "\e8b4";
    }

    .icon-phone:before {
        content: "\f095";
    }

    .icon-envelope:before {
        content: "\f0e0";
    }
}

.head-404 {
    color: rgb(173, 166, 166);

    p {
        font-weight: 700;
    }
}

#home {
    #banner {
        .banner-box {
            position: relative;
            background: url("../../public/images/main-bg.jpg") 50% no-repeat fixed;
            -webkit-background-size: cover;
            background-size: cover;
            width: 100%;
            height: 90vh;
        }

        input[type=search] {
            background: none;
            border: 3px solid #fff;
            padding: 10px;
            width: 100%;
            color: #fff;
        }

        input[type=search]::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
            opacity: 1;
            /* Firefox */
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
        }

        .content {
            z-index: 2;
            position: absolute;
            text-align: center;
            top: 30vh;
            left: 35vw;

            .tagline {
                color: #fff;
                font-weight: 700;
                font-size: 3.5em;
            }
        }
    }
}

.pagination {
    .page-item.active .page-link {
        background-color: var(--theme-color);
        border-color: var(--theme-color);
        color: #fff;
    }

    .page-link {
        color: var(--theme-color);
    }
}

#admin {
    .custom-file-container__image-preview {
        height: 188px;
    }

    a.btn,
    button.btn {
        color: #fff;
        text-decoration: none;
        background-color: $blue;
        padding: 10px 20px;
        border-color: transparent;
        border-radius: 0;
    }

    a.btn:hover,
    button.btn:hover {
        color: $blue;
        border: 1px solid;
        background-color: #fff;
    }

    a.btn-danger,
    button.btn-danger {
        background-color: $red;
        border-radius: 0;
    }

    a.btn-danger:hover,
    button.btn-danger:hover {
        color: $red;
    }

    .pagination {
        .page-item.active .page-link {
            background-color: $blue;
            border-color: $blue;
            color: #fff;
        }

        .page-link {
            color: $blue;
        }
    }

    .search-bar {
        min-width: 300px;
    }

    .heading {
        font-size: 1.5em;
        font-weight: 700;
        padding: 20px 0;
    }

    .alert {
        z-index: 1;
    }

    .blue-bg {
        background-color: $blue;
        color: #fff;
    }

    .pink-bg {
        background-color: #FA638A;
        color: #fff;
    }

    .green-bg {
        background-color: #3EC8A6;
        color: #fff;
    }

    .orange-bg {
        background-color: #FFAC4D;
        color: #fff;
    }

    .symbol {
        font-size: 1.6em;
    }

    #admin_sidebar {
        height: 100vh;
        background-color: slategrey;

        ul.side-bar {
            li {
                list-style-type: none;
            }

            .menu-item {
                border-bottom: 1px solid #ccc;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px;
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        .home-logo {
            font-size: 1.5em;
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            display: block;
        }
    }

    .w100 {
        width: 100px;
    }
}


/****************** Detail page ******************/

#quantity {
    input.qty {
        width: 40px;
        height: 30px;
        text-align: center;
    }

    div {
        margin-right: 20px;
        margin-top: 10px;

        i.fa-solid {
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 5px;
            cursor: pointer;
        }
    }
}


/****************** Home page ******************/

#category {
    div {
        div {
            p {
                cursor: pointer;
            }
        }
    }
}

.select2-container {
    z-index: 1200;
    width: 20px;
}

.select2-selection__rendered {
    width: 150px !important;
}

.capitalization {
    text-transform: capitalize;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    box-shadow: inset 0 -5px 7px #c4c4c4;
    -webkit-box-shadow: inset 0 -5px 7px #c4c4c4;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    color: #777;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #000;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul.li_size {
    li {
        font-size: 14px;
    }
}

#featured-slider {
    .owl-stage-outer {
        overflow: hidden;

        .owl-stage {
            display: flex;
            display: -moz-flex;
            display: -webkit-flex;
        }
    }

    .owl-nav {
        text-align: center;
    }

    .owl-dots {
        display: none;
    }
}

.mobile-hamburger {
    display: none;
}

// responsive
@media screen and (max-width: 767px) {
    #home #banner .content {
        left: 5%;
    }

    #home #banner .content {
        top: 20vh;
    }

    .left-part {
        text-align: center;
    }

    #products .category-list ul ul {
        padding: 0;
    }

    .flex-direction-nav a {
        top: auto;
        bottom: 0;
    }

    #detail .product-title,
    #detail .detail-table,
    #detail .more-info,
    #detail #reviews .col-md-3,
    #detail #reviews .col-md-9,
    #profile .welcome {
        margin: 1rem;
    }

    #addresses {
        .shipping-title {
            margin: 1rem;
        }
    }

    .error-message {
        min-width: 300px;
    }

    #header_nav {
        display: none;
    }

    ul.mobile-hamburger {
        display: block;
        padding: 0;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #000;
                padding: 5px;
                display: block;
                text-align: center;
                border-bottom: 1px solid #ccc;
            }
        }

        li.active {
            a {
                color: var(--theme-color);
                font-weight: 700;
            }
        }
    }
}

.theme-box {
    position: fixed;
    top: 50vh;
    right: -100px;
    z-index: 9999;
    text-align: center;
    padding: 0;
    margin-top: -18px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &.active {
        right: 0;
    }

    .theme-tag {
        color: var(--theme-color);
        cursor: pointer;
        background-color: #fff;
        border-radius: 2px 0 0 2px;
        box-shadow: 0 2px 9px rgba(37, 37, 37, 0.3);
        width: 40px;
        height: 34px;
        line-height: 37px;
        position: absolute;
        right: 100%;

        .pi-cog {
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
            display: inline-block;
            font-size: 18px;
        }
    }

    .color-option {
        background-color: #eee;
        width: 100px;
        box-shadow: 0 2px 9px rgba(177, 177, 177, .2);
        padding: 7px 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 1;

            li {
                position: relative;
                display: inline-block;
                padding-top: 20px;
                margin: 0 4px;
                color: #000;
                font-weight: 600;
                font-size: 12px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -9px;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 1px solid #000;
                }

                &.green-theme:before {
                    background-color: $green;
                }

                &.red-theme:before {
                    background-color: #666;
                }
            }

        }
    }
}

.static-page-head {
    position: relative;
    text-align: center;
    color: white;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #b6b6b690;
        padding: 30px;
    }
}